# AStyle Config File

# create backup of old file
suffix=.prev-astyle

# convert all tabs to spaces
convert-tabs

# align pointer type with name
align-pointer=name
#align-reference=name

# comment style: 1 true bracket
#  adds brackets to one-liners
style=1tbs

# indentation with two spaces
indent=spaces=2

# indent classes and structs
indent-classes

# indent switch constructs
indent-switches

# indent case blocks
indent-cases

# indent namespaces
indent-namespaces

# indent preprocessor declerations
indent-preprocessor

# indent one line comments to line up with code
indent-col1-comments

# add empty lines around blocks
break-blocks

# add spaces around operators
pad-oper

# first remove spaces inside and outside of parens
unpad-paren
# then add space in header declerations
pad-header
# then add spaces inside
pad-paren-in

# fill empty lines with spaces to line up with previous line
fill-empty-lines
